body {
    margin: 0;
}

:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --verde-claro: rgb(143, 199, 143);
    --gris-claro: rgb(228, 230, 231);
}
/*boton*/
.primary-buttom {
    background-color: var(--verde-claro);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-to-cart-button img {
    width: 15px;
    height: 15px;
    position: relative;
    right: 10px;
}
/*close x*/
.product-detail {
    width: 360px;
    height: auto;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
}
.product-detail-close:hover {
    cursor: pointer;
}
.product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product-detail-close {
    background: white;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.product-detail-close img{
    width: 14px;
    height: 14px;
}
/*informacion*/
.product-info {
    margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info p:nth-child(2) {
    color: var(--gris-claro);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}
.product-info p:nth-child(3) {
    color:var(--gris-claro);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}
/*siguiente*/
.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(170, 169, 169);
    border-radius: 50%;
    display: inline-block;
}

.dots span:nth-child(1) {
    background-color: var(--gris-claro);
}

/*mobile*/

@media (max-width: 640px) {
    .product-detail {
      width: 100%;
    }
    .product-detail {
        padding-top: 50px;
    }
    .product-detail-close {
        top: 60px;
    }
}