/*general*/
body {
    margin: 0;
    overflow-x: hidden;
}

:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --verde-claro: rgb(143, 199, 143);
    --gris-claro: rgb(228, 230, 231);
}

/*navbar menu principal*/
.logo {
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: white;
}
.navbar-right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto auto ;
    background-color: white;
}


.navbar-right img{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
   
}
.navbar-left {
    display: flex;
    background-color: white;
    margin: auto auto;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
      text-decoration: none;
      color: black;
      padding: 8px;
      border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
      border: 1px solid var(--verde-claro);
}
.menu {
    display: none;
    width: 30px;
    height: 30px;
    background-color: white;
}

.navbar-conteiner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gris-claro);
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-email {
    color: var(--gris-claro);
    font-size: var(--sm);
    cursor: pointer;
}
.array-bottom {
    margin-left: 10px;
    cursor: pointer;
}
.navbar-shopping-cart {
    cursor: pointer;
    position: absolute;
    margin: auto auto auto 180px;
}

.navbar-shopping-cart img {
    position: absolute;
    left: 0;
    margin: auto;
}

.navbar-shopping-cart div{
    width: 12px;
    height: 12px;
    background-color: var(--verde-claro);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right ul li:nth-child(2) img{
    width: 10px;
    height: 10px;
    position: relative;
    right: 10px;
}

/* menu email */

.desktop-menu {
    background-color: white;
    border: 1px solid var(--gris-claro);
    width: 125px;
    height: auto;
    padding: 20px 20px 0 20px;
    border-radius: 6px;
    margin-top: -100%;
    position: absolute;
    right: 290px; 
    z-index: -10; 
    transition: 0.5s; 
}

.toggle-top {
    margin-top: 60px;
    transition: all 0.5s;
}

.desktop-menu ul {
    display: inline-block;
    list-style: none;
    text-align: end;
    margin-right: 50px;
}

.desktop-menu ul li a{
    text-decoration: none;
    color: black;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    margin-bottom: 20px;
    font-weight: bold;
}



.desktop-menu ul li:last-child{
    border-top: 1px solid var(--verde-claro);
}
.desktop-menu ul li:last-child a{
    color: var(--verde-claro);
    padding-top: 15px;
    font-size: var(--sm);
    display: inline-block;
}

/*Menu mobile*/
.mobile-menu {
    padding: 24px;
    position: absolute;
    margin-top: 60px;
    left: -100%;
    transition: 0.5s;
    background-color: white;
}

.hamOpen {
    left: 0;
    height: 100vh;
    width: 100%;
    transition: all 0.5s;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--gris-claro);
}
.mobile-menu ul:nth-child(3) {
    margin-top: 80px;
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.mobile-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}
.sign-out {
    font-size: var(--sm);
    color: var(--verde-claro) !important;
}

/* carrito de compras/detalles de compra */
.close {
    width: 12px;
    height: 12px;
}
.title-container img {
    width: 12px;
    height: 12px;
}
.product-detail {
    background-color: white;
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: fixed;
    right: -100%;
    transition: 0.5s;
  }
.active {
    right: 0;
    transition: 0.5s;
}
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .arrow {
    position: relative;
    top: 22px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--verde-claro);
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }

/* productos inicio */
.main-conteiner {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px 50px;
}

.cards-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 220px;
}

.product-card img {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 40px;
    height: 40px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--gris-claro);
}


@media (max-width: 912px) {
    .menu {
      display: block;
      margin: auto 5px;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    .navbar-right ul li:nth-child(2) img {
        display: none;
    }
    .product-detail {
        width: 100%;
    }
    .desktop-menu {
        display: none;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
    .main-conteiner {
          margin-right: 7px;
    }
    .logo {
        margin: auto 30%;
    }
    .navbar-shopping-cart {
        margin: auto;
    }
    .navbar-shopping-cart img{
        margin: auto;
    }
    
}
@media (min-width: 913px) {
    .mobile-menu {
        display: none;
    }
}